* {
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 80%;
    margin: auto;
}

img {
    width: 100%;
}

.row {
    display: flex;
}

.col-49 {
    width: 49%;
    float: left;
}

.col-32 {
    width: 32%;
    
}

.right-margin {
    margin-right: 2%;
}

