* {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.1em;
    color: rgb(0, 51, 102);
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    
}

body {
    background-color: #f2f2f2;
    background-image: url(../images/subtleGrungeBg.png);
    background-repeat: initial;
}

#wrapper {
    width: 80%;
    margin: auto;
}

header, footer {
    text-align: right;
    padding: 2em;
    
}

article p, footer p, hr {
    margin-top: 2em;
}

nav, footer {
    font-size: .7em;
}

div#bio {
    padding: 2em 2em 2em 0;
}

h1 {
    font-family: 'Coda Caption', sans-serif;
    text-transform: uppercase;
    font-size: 2.5em;
    color: rgb(51,51,0);
    text-decoration: underline;
    
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding: 1em;
    white-space: nowrap;
}

footer ul {
    margin-top: 2em;
    }

img {
    width: 100%;
    height: auto;
}

footer {
    clear: right;
}

/* Columns */

.columns {float:right;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* End Columns CSS */


a:link {
   color: rgb(51, 153, 51); 
}

a:visited {
    color: rgb(204, 153, 0);
}

a:hover {
    color: rgb(0, 204, 0);
}