body {
    
    background-color: #f2f2f2;
    background-image: url(../images/subtleGrungeBg.png);
}

ul {
    
    list-style-type: none;
}

li {
    
    display: inline;
    padding: 1em;
    white-space: nowrap;
}

header, footer {
    
    text-align: right;
}

#headerName {
    
    font-weight: bold;
    text-transform: uppercase;
}

.row {
    
    padding-bottom: 3rem;
}


@media only screen and (max-width: 550px)  {
    
    header, div, footer, article {
        
        text-align: center;
    }
    
    img {
        
        padding-bottom: 3rem;
    }
    
    
    
}

