* {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.1em;
    color: rgb(0, 51, 102);
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    
}



body {
    background-color: #f2f2f2;
    background-image: url(../images/subtleGrungeBg.png);
    background-repeat: initial;
    overflow: auto;
    position: relative;
    
}

img#mandoTwitter {
    position: fixed;
    width: 4%;
    top: 9%;
    right: 3%;
    z-index: 999;
}


nav, header, footer {
    text-align: right;
    padding-bottom: 2em;
    width: 100%;
    height: 100%;
}

article p, footer p, hr {
    margin-top: 2em;
}

nav, footer {
    font-size: .7em;
}

#wrapper {
    width: 80%;
    margin: auto;
}

.center {
    text-align: center;
}

h1 {
    font-family: 'Coda Caption', sans-serif;
    text-transform: uppercase;
    font-size: 2.5em;
    color: rgb(51,51,0);
    text-decoration: underline;
    
}

h4 {
    text-decoration: underline;
    padding-bottom: 1em;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding: 1em;
    white-space: nowrap;
}

.clearRight {
    clear: right;
}



footer ul {
    margin-top: 2em;
    }

img {
    width: 100%;
    height: auto;
}

/* Columns */

.columns {float:right;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* End Columns CSS */

div.expContainer {
    font-size: .8em;
}

div.expContainer>h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em;
    
}

div.expContainer>p {
    width: 50%;
    padding-bottom: 2em;
    font-size: 1.2em;
}

div.expRow {
    margin-bottom: 2em;
}

.textPad {
    padding-right: 2em;
}

/* Flexbox */

.flexContainer {
    clear: right;
    display: flex;
    justify-content: space-between;
/*    background-color: blue;*/
}

.flexContainer > div {
/*    background-color: white;*/
    width: 30%;
    padding: 1%;
/*    border: 1px solid black;*/
    background-color: rgba(0, 0, 0, .05)
    ;
}

/* Link styles */


a:link {
   color: rgb(51, 153, 51); 
}

a:visited {
    color: rgb(204, 153, 0);
}

a:hover {
    color: rgb(0, 204, 0);
}


hr.hrToggle {
    visibility: hidden;
}





/* Media Queries defined up to 501px only */

@media only screen and (max-width: 521px) {
    
    nav, header, footer {
        text-align: center;
    }
    
    h1 {
        font-size: 1.8em;
    }
    
    body {
        font-size: 1em;
    }
    
    ul li {
        font-size: .9em;
    }
    
    div#bio {
        text-align: center;
    }
    
    div.expContainer>p {
        width: 100%;
        
    }
    
    .columns {
        float: none;
    }
    
    .col-5, .col-7 {
        width: 100%;
    }
    
    .expContainer img {
        border-radius: 20px;
        margin-bottom: 1em;
    }
    
    div.expInfo {
        display: inline;
        text-align: center;
    }
    
    div.expContainer {
        text-align: center;
    }
    
    div.expContainer span.material-icons {
        font-size: 3em;
    }
    
    hr.hrToggle {
        visibility: visible;
        margin-bottom: 2em;
    }
    
    img#mandoTwitter {
        visibility: hidden;
}
    
    .flexContainer {
    clear: right;
    display: flex;
    flex-direction: column;
/*    background-color: blue;*/
}

    .flexContainer > div {
    /*    background-color: white;*/
        width: 100%;
        padding: 3%;
    /*    border: 1px solid black;*/
        background-color: rgba(0, 0, 0, .05);
        border-radius: 20px 20px 0 0;
        ;
    }
    
    .flexContainer img {
        border-radius: 20px;
    }
    
    
    
    
    
}